/*------------RESET CSS--------------*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*------------RESET CSS--------------*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    display: flex;

    flex-direction: column;


}

/*----------INICIO SERGIO------------*/

header {
    height: 25vh;
    width: 100vw;
    background-color: #005FAC;
    color: white;
    display: flex;
    flex-direction: column;
}
.headerSinBarra {
    height: auto;
    width: 100vw;
    background-color: #005FAC;
    color: white;
    display: flex;
    flex-direction: column;
}
.secciones li:hover {
    cursor: pointer;
}

.secciones a img {
    max-width: 100%;
    object-fit: cover;
    max-height: 50px;
    max-width: 50px;
}
.secciones a img:hover {
    cursor: pointer;
}
.seccion1 {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#busqueda {
    height: 100%;
    width: 80%;
    padding-left: 20px;
    font-size: 20px;
    border: none;
}

#btnProyecto {
    background-color: #005FAC;
    width: fit-content;
    height: 40px;
    color: white;
    height: fit-content;
    border-radius: 5px;
    transition: background-color 0.5s ease; /* Agregado */
    margin-top: 30px;
    margin-bottom: 5vh;
    font-weight: bold;

}
.botonAzul {
    background-color: #005FAC;
    color: white;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease; /* Agregado */
    margin-top: 30px;
    margin-bottom: 5vh;
    display: flex;
    justify-content: end;
    align-items: end;
    justify-self: end;
    text-decoration: none;
    font-weight: bold;

}
#botonCrearProyecto, .botonAzul a {
    height: fit-content;
    transition: background-color 0.5s ease; /* Agregado */
}
#btn {
    background-color: #005FAC;
    color: white;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease; /* Agregado */

}
.botonAzul:hover, #btn:hover {
    cursor: pointer;
    background-color: #0c7bd7;
}




.figureFotoUtad {
    height: auto;
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.figureFotoUtad img {
    max-width: 100%;
    width: 60%;
}

.secciones {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;


}

.secciones li {
    margin-right: 40px;
    font-size: 18px;
    transition: transform 0.2s;
    
}
.secciones li:hover{
    transform: scale(1.1);
}

.secciones li a {
    text-decoration: none;
    color: inherit;
}

button{
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    border: none;
    font-size: 16px;
    color: #005FAC;
    font-weight: 600;
}

.buscadorDiv {
    background-color: white;
    height: 60px;
    width: 700px;
}


main {
    height: auto;
    width: 80%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;

}

#contenedorusercrear h2 {
    font-size: 25px;
    color: #005FAC;
}

#bodyuser {
    overflow-x: hidden;
    background-color: rgb(220, 229, 229);
}
.proyectosMasPopulares {
    margin-top: 40px;

}
.filtrosDiv {
    background-color: #E8E7E7;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
}

.tarjetasDiv {
    margin-top: 2vh;
    max-width: 60vw;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.tarjeta {

    border: 3px solid #005FAC;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 3%;

}
.tarjeta h3 {
    margin-bottom: 10px;
}
.tarjeta p {
    margin-bottom: 10px;
} 
#divCrear {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}
.tit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtrosOrden {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;

}
.filtrosOrden p {
    margin-left: 10px;
}
.filtrosOrden input {
    margin-left: 10px;
    height: 40px;
}
#filt {
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.filtrosOrden select {
    margin-left: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    border:1px solid #005FAC ;
   
}


/*----------INICIO SERGIO------------*/
/*----------MIS PROYECTOS SERGIO------------*/
#errorNoRegistrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
}

#errorNoRegistrado figure {
    margin-top: 5vh;
}

/*----------MIS PROYECTOS SERGIO------------*/
/*----------VER PROYECTOS SERGIO------------*/
#verProyectoForm {
    background-color: #EEEEEE;
    width: 850px;
    max-width: 900px;
    height: auto;
    margin-top: 5vh;
    border: 3px solid #005FAC;
    border-radius: 10px;
    padding: 20px;
}
#divForm1 {
    width: 100%;
    height: auto;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 20px;
}
#divForm1 h1 {
    color: #005FAC;
}
#divForm2 h2 {
    color: #005FAC;
    font-size: 18px;
}
#datosForm1 {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#datosForm2 {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#botonCerrar {
    color: #000;
    font-size: 40px;
    background-color: transparent;
    height: auto;
    width: auto;
    margin-left: 60px;
}
#botonCerrar:hover {
    cursor: pointer;
}
.datosForm2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 10px;
    
    
}
#divForm2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}
.divLista {
    font-size: 15px;
    height: 100%;
    margin-top: 10px;
}
.divLista li {
    padding: 4px;
    margin-right: 15px;
    font-weight: bold;
}
.divReqCon {
    min-height: 150px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    
}
.btnLenguaje {
    background-color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    width: auto;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(47, 173, 246);
    text-decoration: none;
}
.btnLenguaje p {
    color: #005FAC;

}
.divListaLeng {
    width: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 80%;
    margin-top: 10px;

}
#descripcion h2 {
    color: #005FAC;
    font-size: 18px;
}
#descripcion p {
    font-weight: normal;
    margin-top: 10px;
    text-align: justify;
    letter-spacing: -1px;
}
#funciones h2 {
    color: #005FAC;
    font-size: 18px;

}
#funciones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
}

.funcion {
    padding: 10px;
    width: 260px;
    height: 200px;
    max-height: 200px;
    background-color: rgb(212, 212, 212);
    border: 2px solid #0c7bd7;
    border-radius: 10px;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto; /* Para centrar horizontalmente */
}



#func {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#funciones h3 {
    font-size: 18px;
}
.funcionesInscritos {
    height: auto;
    width: auto;
}
.funcion {
    margin-right: 10px;
    height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inscribirme {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
#linkGuardar {
    height: 50px;
    width: 50px;
}
#linkGuardar  img {
    max-width: 100%;
}
.funcionEnProyecto h2 {
    margin-top: 30px;
    color: #005FAC;
    font-size: 18px;
}
.funcionEnProyecto {
    width: 100%;
    height: auto;
    
}
#participacion {
    width: 30%;
    padding-right: 40px;
    
}
#participacion ul {
    width:200px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
#participacion ul li {
    width:100%;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: start;
    
}

/*----------VER PROYECTOS SERGIO------------*/


/*----------USARIOS ALEX------------*/


#bannerinicio {
    width: 100%;
    background-image: url('assets/imagenes/fondoUsuario.jpg');
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}


#fotoperfil {

    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

#fotoperfil img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

#contenedorPerfilfoto {

    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10%;
}

#textoperfil {


    height: 50%;
    margin-right: 20%;
    background-color: rgba(240, 248, 255, 0.76);
    border-radius: 15px;
    padding: 1%;
    


}


#nombreuser {
    width: 100%;
    margin-left: 50%;
    margin-top: 10%;
    text-align: center;
    background-color: aliceblue;
    border-radius: 15px;
}

/* Estilos para el contenedor informacionpersonal  */

#informacionpersonal {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

h3 {
    color: #005FAC;
}

/* fin estilos para contenedor informacionpersonal */

/* Estilos para el contenedor de proyectos */

#proyectossubidoscontenedor {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    font-size: 18px;
}

/* fin estilos proyectos */

/* estilos para tarjetas */

/* .tarjeta {
    border: 3px solid #005FAC;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    border-radius: 10px;
    padding: 1%;
} */

#tituloproyectos {
    width: 70%;
    align-items: flex-start;
    font-size: 1.4rem;
    margin-bottom: 2%;
    text-decoration: underline;
    color: #005FAC;
}

/* fin estilos tarjetas */

/* ESTILOS PARA EL HEADER */


#logo {
    margin-left: 1%;
}

nav {
    display: flex;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px 20px;
}

#menu {
    display: flex;
    margin-right: 3%;
}

#menu a {
    display: block;
}

.botonhomeuser {

    border-radius: 10px;
    border: 0;
}

.homepalabra {
    text-decoration: none;
    color: #005FAC;
    font-weight: bold;
}

/* fin stylos header */

.botonhomeuser2 {

    background-color: #005FAC;
    border-radius: 10px;
    border: 0;
    font-size: 1rem;
    transition: transform 0.2s;
    
}
.botonhomeuser2:hover{
    
    transform: scale(1.1);
}

.homepalabra2 {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#contenedorbotonesinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 2%;
}
#headeruser {
    
    height: 15vh;
    width: 100vw;
    background-color: #005FAC;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#seccaionheaderuser{
    margin-top: 1.5%;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tituloinfouser{
    margin-bottom: 1%;
    font-size: 1.5rem;
}
#conocimientosuser li {
    margin-bottom: 10px; /* Ajusta el valor según la cantidad de espacio que desees entre cada elemento */
}
#footerusuario{
  
        background-color: #005FAC   ;
        color: #fff;
        text-align: center;
        padding: 10px;
        width: 100%;
        
    
}
@media screen and (max-width: 779px) {
    #textoperfil{
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 8px;
           
            
        }
    
        &::-webkit-scrollbar-thumb {
            
            background-color: #005FAC; 
            border-radius: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background-color: rgba(211, 211, 211, 0); /* Color del track (la parte fija) */
        }
    }
}
@media screen and (max-width: 1120px) {
    #bannerinicio {
        flex-direction: column;
       
    }
    #textoperfil{

        height: 40%;
        width: 70%;
        margin-left: 20%;

    }
    #circulo2{
        width: 80px;
    height: 80px;
    
    }
    #contenedorPerfilfoto{
        margin-left: 0%;
        margin-right: 15%;
        margin-top: 1%;

    }
    #tituloinfouser {
        font-size: 1em; 
    }

    #textoperfil p {
        font-size: 1em; 
    }
}

/* Estilos para tablet */
@media screen and (min-width: 1121px) and (max-width: 1131) {
    #bannerinicio {
        flex-direction: row;
        
    }
}

/* Estilos para PC */


/*----------USARIOS ALEX------------*/

/*---------------- CREAR USUARIO ALEX ----------------*/

#contenedorcrearuser {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#crearuser {
    border-radius: 8px;
    margin-top: 3%;
   margin-bottom: 5%;
    width: 55%;
    height: 80%;
    border: 2px solid #005FAC;
    display: flex;
    flex-direction: column;

    background-color: rgba(128, 128, 128, 0.147);
}

.titilo {
    margin-top: 3%;
    margin-left: 3%;
    color: #005FAC;
    text-decoration: underline;
}

.titulocrearuser {
    color: #005FAC;
    font-size: 1rem;
    margin: 2%;
    margin-left: 3%;
}

#contenedorusercrear {
    width: 100%;

}

.circulo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #005FAC;
    background-color: rgba(0, 0, 255, 0);
    /* Puedes ajustar el color de fondo según tus preferencias */
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}
#circulo2 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #005FAC;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

#circulo2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
}
#formulariocrearuser{

    text-align: center;

}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input,
textarea {
    border: 1px solid #005FAC;
    border-radius: 8px;
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.label-formulario {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 10%;
}

#botonenviarform {
    width: 30%;
    margin: 0 auto;
    display: block;
    padding: 5px;
    background-color: #005FAC;
    color: #fff;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
   
  }
  #textocrearuseraa{
    margin-left: 3%;
    font-size: 20px;
  }
  #titulocrearuser{
    font-size: 60px;
  }
/* --------------- FIN CREAR USUARIO ALEX ---------------- */
/*  -------------- CONECTA CONMIGO USUARIO ALEX ---------*/
#contenedorconetaruser {

    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conetaruser {
    border-radius: 8px;
    margin-top: 3%;

    width: 45%;
    height: 80%;
    border: 2px solid #005FAC;
    display: flex;
    flex-direction: column;

    background-color: rgba(128, 128, 128, 0.147);
}

#titulocontactaser {
    color: #005FAC;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 8%;

}

/* --------------- CONECTA CONMIGO USUARIO ALEX --------- */


/*------------Guardar Proyectos  Gonzalo---------------*/

.seccion1 {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#busqueda {
    height: 100%;
    width: 80%;
    padding-left: 20px;
    font-size: 20px;
    border: none;
}

.figureFotoUtad {
    height: auto;
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.figureFotoUtad img {
    max-width: 100%;
    width: 60%;
}

.secciones {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;


}

.secciones li {
    margin-right: 40px;
    font-size: 18px;
}

.secciones li a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    border: none;
    font-size: 16px;
    color: #005FAC;
    font-weight: 600;
}

.proyGuardados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 1000px;
    border: 3px solid #005FAC;
}
.datos h3 {
    margin-bottom: 10px;
}

h3 {
    color: #005FAC;
}

.page {
    margin: 20px;
    color: #005FAC;
}


/*------------Inscritos Proyectos Gonzalo---------------*/

.inscritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 50px;
}

.aceptados {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.datosAceptados {
    display: flex;
    width: 95%;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: #D9D9D9;
    padding-left: 5px;
}

.a {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.continuar {
    display: flex;
    justify-content: flex-end;
}

.btnContinuar {
    width: 20%;
    background-color: #005FAC;
    color: #F6F6F6;
    border: 1px solid black;
    border-radius: 5px;
}
/*--------------------Chat Gonzalo-------------------------------*/
#divChat {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
#divChat img{
    max-width: 100%;
    
}
/*--------------------Chat Gonzalo-------------------------------*/
/*--------------Publicar Proyecto Gonzalo------------------*/

.pubProy{
    width: 100vw;
}
.inputRequisitos{
    padding: 0%;
    width: 150px;
}
.inputNomProy{
    padding: 0%;
    width: 800px;
    padding: 5px;
}