/*------------RESET CSS--------------*/

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/*------------RESET CSS--------------*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    display: flex;
 
    flex-direction: column;


} 

/*----------INICIO SERGIO------------*/

header {
    height: 25vh;
    width: 100vw;
    background-color: #005FAC;
    color: white;
    display: flex;
    flex-direction: column;
}
.seccion1 {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#busqueda {
    height: 100%;
    width: 80%;
    padding-left: 20px;
    font-size: 20px;
    border: none;
}
#search {
    background-color: #005FAC;
    color: white;
    height: 40px;
    border-radius: 5px;

}

.figureFotoUtad {
    height: auto;
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.figureFotoUtad img {
    max-width: 100%;
    width: 60%;
}
.secciones {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;


}
.secciones li {
    margin-right: 40px;
    font-size: 18px;
}
.secciones li a {
    text-decoration: none;
    color: inherit;
}
button {
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    border: none;
    font-size: 16px;
    color: #005FAC;
    font-weight: 600;
}
.buscadorDiv {
    background-color: white;
    height: 60px;
    width: 700px;
}
.proyectosMasPopulares {
    background-color: #ffffff;
    color: #005FAC;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

}
main {
    height: auto;
    max-width: 60%;
    width: 70%;
    align-self: center;
   
}
.contenedorFiltroTarjetas{
    height: 100vh;
    display: flex;
    
} 
#bodyuser{
    overflow-x: hidden;
}
.filtrosDiv {
    background-color: #E8E7E7;
    width: 35%;
    border-radius: 10px;
    padding: 10px;
}
.tarjetasDiv {
    width: auto;
    height: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    overflow-y: scroll;
  
}
.tarjeta {
    
    border: 3px solid #005FAC;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 20px;
}
.filtrosOrden {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}
.filtrosOrden input {
    margin-left: 10px;
}
/*----------INICIO SERGIO------------*/
/*----------MIS PROYECTOS SERGIO------------*/
#errorNoRegistrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
}
#errorNoRegistrado figure {
    margin-top: 5vh;
}
/*----------MIS PROYECTOS SERGIO------------*/


/*----------USARIOS ALEX------------*/


#bannerinicio {
    width: 100%;
    background-image: url('assets/imagenes/fondoUsuario.jpg');
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;

}

#fotoperfil {

    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

#fotoperfil img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

#contenedorPerfilfoto {

    margin-left: 20%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#textoperfil {


    margin-right: 20%;
    background-color: aliceblue;
    border-radius: 15px;


}

#nombreuser {
    text-align: center;
    background-color: aliceblue;
    border-radius: 15px;
}

/* Estilos para el contenedor informacionpersonal  */

#informacionpersonal {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

h3 {
    color: #005FAC;
}

/* fin estilos para contenedor informacionpersonal */

/* Estilos para el contenedor de proyectos */

#proyectossubidoscontenedor {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    font-size: 18px;
}

/* fin estilos proyectos */

/* estilos para tarjetas */

/* .tarjeta {
    border: 3px solid #005FAC;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    border-radius: 10px;
    padding: 1%;
} */

#tituloproyectos {
    width: 70%;
    align-items: flex-start;
}

/* fin estilos tarjetas */

/* ESTILOS PARA EL HEADER */


#logo {
    margin-left: 1%;
}

nav {
    display: flex;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px 20px;
}

#menu {
    display: flex;
    margin-right: 3%;
}

#menu a {
    display: block;
}

.botonhomeuser {

    border-radius: 10px;
    border: 0;
}

.homepalabra {

    color: #005FAC;
    font-weight: bold;
}
/* fin stylos header */ 

.botonhomeuser2 {

    background-color: #005FAC;
    border-radius: 10px;
    border: 0;
}

.homepalabra2 {
    color: #ffffff;
    font-weight: bold;
}
#contenedorbotonesinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 2%;
}


/*----------USARIOS ALEX------------*/